@media (max-width: 1440px) {
    body {
        display: grid;
        min-height: 100vhx;
    }

    .container {
        display: grid;
        grid-template-areas: "mockup texto";
        align-items: center;
        justify-content: center;
    }

    .container .text {
        grid-area: texto;
        width: 300px;
        padding-top: 150px;
    }

    .container .mockup {
        grid-area: mockup;
        width: 30%;
        padding-right: 50px;
    }

    .footer {
        max-width: 1378px;
    }
}

@media (max-width: 1165px) {
    body {
        background-size: cover;
    }

    .container {
        display: grid;
        grid-template-areas: "mockup texto";
        align-items: center;
        justify-content: center;
    }

    .container .text {
        grid-area: texto;
        width: 200px;
        padding-top: 150px;
    }

    .container .mockup {
        grid-area: mockup;
        width: 30%;
        padding-right: 50px;
    }

    .footer {
        max-width: 950px;
    }
}

@media (max-width: 969px) {
    body {
        grid-template-areas:
            "header"
            "main "
            "footer";
        grid-template-columns: 1fr;
        background: url(../images/bg-mobile.svg) center no-repeat;
        background-size: cover;
        width: 100vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
    }

    .container .text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }

    .container .mockup {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
}

@media (max-width: 768px) {
    body {
        width: 400;
        background: url(../images/bg-mobile.svg) center no-repeat;
        background-size: cover;
        margin: 30px auto;
    }

    .header {
        padding: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        margin-top: 40px;
        width: 500px;
    }

    .container .mockup {
        max-width: 100%;
    }

    .footer {
        display: grid;
        padding: 20px;
        justify-content: center;
    }
    
}

@media (max-width: 425px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .header {
        padding: 10px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .mockup {
        display: flex;
        align-items: center;
        align-content: center;
    }

    .container .mockup .img{
        width: 300px;
    }

    .container .text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        width: 300px;
    }
    
    .footer {
        display: grid;
        padding: 20px;
        justify-content: center;
    }
    .footer p {
        margin-bottom: 30px;
    }
}
